.header {
    background: url('../images/githubBg.png') no-repeat;
    background-position: cover;
    border-radius: 8px;
    padding: 3rem 1rem;
}

.content {
    // gap: 2rem;

    // .cards {
    //     width: 20rem;
    // }
}

