.title {
  font-weight: 600;
}

.header {
  background: url("../images/githubBg.png") no-repeat top center;
  background-position: cover;
  border-radius: 8px;
  padding: 3rem 1rem;
}

.company_logo {
  object-fit: contain;
  width: 5.625rem;
  height: 5.625rem;
  margin: 0.5rem;
}

.cards {
  font-size: 0.8rem;
}

::placeholder {
  font-size: 0.8rem;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.description {
  word-break: break-word;

  a {
    color: rgb(99, 34, 185);
  }
}
