@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,400&display=swap");
@import "~bootstrap/scss/bootstrap";

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #334680;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 1.1rem !important;
  font-weight: 500;
}

ul {
  list-style: none;

  li {
    margin: 10px;
  }
}

a:hover {
  text-decoration: none;
}

button {
  font-size: unset !important;
}
